*target*
*.jar
*.war
*.ear
*.class

# MAC specific git ignore
.DS_Store

# eclipse specific git ignore
*.pydevproject
.project
.metadata
.recommenders
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

*.tii

*.prx

*.tis

prob1_searching/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_2

*.gen

*.properties

*.fdt

*.fdx

*.fnm

*.frq

*.nrm

*.prx

*.back
